#innerCard {
	background:SNOW;
	/*width : 750px;	*/
	width:90%;
	height:100%;
	border : 4px SOLID GOLDENROD;
}
#outerCard {
	
}

body {
	background : #ffec80;	
	color : DarkSlateGray;
	font-family:sans-serif;
}

.bride{
	padding:4px;
	font-family:sans-serif;
	font-size:x-large;
	font-weight:bold;
	word-wrap: break-word;
}

.brideEdu {
	font-family:sans-serif;
	font-size:1em;
	font-weight:bold;
	vertical-align:center;
	word-wrap: break-word
}

a {
	color : green;	
}
	